    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy;2018 - Hércules de Lima Coelho
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/views/res/site/vendor/jquery/jquery.min.js"></script>
    <script src="/views/res/site/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/views/res/site/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/views/res/site/js/grayscale.min.js"></script>

  </body>

</html>